.m-auto {
    margin: auto;
}

.standard-img {
    display: block !important;
}

.small-img {
    display: none !important;
}

@media (max-width: 400px) {
    .standard-img {
        display: none !important;
    }
    .small-img {
        display: block !important;
    }
}